<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mothupii_.project77">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:minSdkVersion="8"
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OfflineLibrary" />
        <activity android:name=".Mentorship" />
        <activity android:name=".OfflineLibraryContent" />
        <activity android:name=".AskAPro" />

        <service android:name=".MesgRef">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCEIDService" />
            </intent-filter>
        </service>
        <service android:name=".MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".RandomExpect" />
        <activity android:name=".RandomExpert" />
        <activity android:name=".PoolLearning" />
        <activity android:name=".ActiveSessionPicker"></activity>
    </application>

</manifest>